interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://clinicaltrials.gov/api/v2/studies/NCT02861534?format=json
  response:
    body:
      string: '{"protocolSection": {"identificationModule": {"nctId": "NCT02861534",
        "briefTitle": "A Study of Vericiguat in Participants With Heart Failure With
        Reduced Ejection Fraction (HFrEF) (MK-1242-001)", "officialTitle": "A Randomized
        Parallel-Group, Placebo-Controlled, Double-Blind, Event-Driven, Multi-Center
        Pivotal Phase III Clinical Outcome Trial", "acronym": "VICTORIA"}, "statusModule":
        {"overallStatus": "COMPLETED"}, "sponsorCollaboratorsModule": {"leadSponsor":
        {"name": "Merck Sharp & Dohme LLC", "class": "INDUSTRY"}}, "contactsLocationsModule":
        {"locations": [{"country": "Argentina", "city": "City", "status": "COMPLETED"},
        {"country": "Australia", "city": "City", "status": "COMPLETED"}, {"country":
        "Austria", "city": "City", "status": "COMPLETED"}, {"country": "Belgium",
        "city": "City", "status": "COMPLETED"}, {"country": "Brazil", "city": "City",
        "status": "COMPLETED"}, {"country": "Bulgaria", "city": "City", "status":
        "COMPLETED"}, {"country": "Canada", "city": "City", "status": "COMPLETED"},
        {"country": "Chile", "city": "City", "status": "COMPLETED"[...]
